main {
    margin-top: 200px;
}

main .window {
    margin: 5em;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.label-text {
    display: inline-block;
    text-align: left;
    color: #dcdcdc;
    font-weight: bold;
    font-size: 48px;

    margin-top: 0.5em;
    margin-bottom: 0.125em;
}

.window .main_text {
    display: inline-block;
    text-align: left;
    color: #dcdcdc;
    font-weight: normal;
    font-size: 22px;

    
    margin-top: 0.5em;
    margin-bottom: 0.125em;
}

.window .main_line {
    border: 0.5px solid #dcdcdc;
    border-radius: 50%;
    opacity: 0.75;
    margin-bottom: 1em;
}

#div-video-teaser {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#video-teaser {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    border: 2px solid #dcdcdc;
}

#aboutlink:link {
    color: #ef7e07;
}

#aboutlink:visited, #aboutlink:active {
    color: #e63718;
}

@media screen and (max-width: 1360px) {
    main {
        margin-top: 180px;
    }
    
    .label-text {
        font-size: 42px;
    }

    main .window {
        margin: 4em;
        padding-top: 1em;
        padding-left: 5em;
        padding-right: 5em;
    }

    #div-video-teaser {
        margin: auto;
        margin-top: 1.75em;
        margin-bottom: 1.75em;
    }

    .window .main_text {
        font-size: 22px;
    }

    .window .main_line {
        margin-bottom: 0.8em;
    }
}

@media screen and (max-width: 1160px) {
    .label-text {
        font-size: 36px;
    }

    main .window {
        margin: 3em;
        padding-top: 0.75em;
        padding-left: 4em;
        padding-right: 4em;
    }

    #div-video-teaser {
        margin: auto;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .window .main_text {
        font-size: 20px;
    }

    .window .main_line {
        margin-bottom: 0.6em;
    }
}

@media screen and (max-width: 1060px) {
    main {
        margin-top: 165px;
    }
    
    .label-text {
        font-size: 32px;
    }

    main .window {
        margin: 2em;
        padding-top: 0.5em;
        padding-left: 3em;
        padding-right: 3em;
    }

    #div-video-teaser {
        margin: auto;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .window .main_text {
        font-size: 18px;
    }

    .window .main_line {
        margin-bottom: 0.4em;
    }
}

@media screen and (max-width: 640px) {
    main {
        margin-top: 150px;
    }
    
    .label-text {
        font-size: 26px;
    }

    main .window {
        margin: 1em;
        padding-top: 0.25em;
        padding-left: 1em;
        padding-right: 1em;
    }

    #div-video-teaser {
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .window .main_text {
        font-size: 14px;
    }

    .window .main_line {
        margin-bottom: 0.2em;
    }
}