* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #26262a;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #1a1a1d;
    text-transform: uppercase;
    
    border-color: #1a1a1d;
    border-bottom-color: #4e4e50;
    border-width: 1px;
    border-style: solid;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;

    z-index: 1;
}

#navigation_bar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 150px;
    height: auto;
    cursor: pointer;
    size: fixed;
    position: relative;
    margin: 0;
}

#logolink {
    display: block;
    width: 150px;
    height: auto;
    margin: 15px;
    border-radius: 20%;
}

.tabs {
    display: inline-block;
    color: #dcdcdc;
    font-size: 1.85em;
    margin-right: 2.5em;
    margin-left: 1em;
    cursor: pointer;
    list-style: none;
}

header .tabs:hover {
    color: white;
    text-decoration: solid;
    border-bottom: 3px transparent solid;
    margin-bottom: -3px;
}

header .tabs.selected {
    color: white;
    text-decoration: solid;
    border-bottom: 3px white solid;
    margin-bottom: -3px;
}

.isDisabled {
    color: currentColor;
    text-decoration: none;
  }

main {
    margin-top: 200px;
}

main .window {
    background-color: rgba(38, 38, 42, 0.9);
    margin: 5em;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border: 2.5px solid #4e4e50;
    border-radius: 10% 10% 0% 0%;
}

#video-teaser-text {
    display: inline-block;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    color: #dcdcdc;
    font-weight: bold;
    font-size: 48px;
}

.window .main_line {
    border: 0.5px solid #dcdcdc;
    border-radius: 50%;
    opacity: 0.75;
    margin-bottom: 1em;
}

#div-video-teaser {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#video-teaser {
    margin: auto;
    width: 1195px;
    height: auto;
}

footer {
    background-color: #1a1a1d;
    
    border-color: #1a1a1d;
    border-top-color: #4e4e50;
    border-width: 1px;
    border-style: solid;

    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;

    z-index: 1;
}

footer #footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5em auto;
}

#footer .logo {
    display: block;
    width: 125px;
    height: auto;
    cursor: pointer;
    size: fixed;
    position: relative;
}

#footer #footer_logolink {
    display: block;
    width: 125px;
    height: auto;
    border-radius: 20%;
    margin-bottom: 2.5px;
    margin-left: auto;
    margin-right: auto;
}

hr.small-footer-line {
    border: 0.5px solid #4e4e50;
    border-radius: 50%;
    opacity: 0.75;
    margin: 0;
    margin-bottom: 0;
}

#footer .xstatic-info p {
    color: #dcdcdc;
    display: block;
    line-height: 1.5em;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer-tabs li {
    display: block;
    list-style: none;
    font-size: 16px;
    color: #dcdcdc;
    text-transform: uppercase;

    padding: 5px;
}

#footer .footer-tabs li:hover {
    color: white;
}

#footer .sponsors {
    display: block;
    margin: 0.5em;
}

#footer .sponsors .split {
    display: block;
    height: 75px;
    width: auto;
    margin: 10px auto;
}

#footer .sponsors .loop {
    display: block;
    height: 75px;
    width: auto;
    margin: 10px auto;
}

#footer .sponsors #loop_colors_logolink {
    display: block;
    border-radius: 25%;
    margin: 0;
    padding: 0;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social .social_logo {
    display: block;
    width: 30px;
    height: auto;
    padding: 0;
}

#social a {
    display: block;
    width: 30px;
    height: auto;
    padding: 0;
    margin: 1em;
    border-radius: 100%;

}

#copyright {
    color: #4e4e50;
    font-size: 75%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.25em;
}

hr.footer-line {
    border: 1px solid #4e4e50;
    border-radius: 50%;
    opacity: 0.75;
    margin: 15px 5em;
    margin-bottom: 0;
}
