* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #26262a;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #1a1a1d;
    text-transform: uppercase;
    
    border-color: #1a1a1d;
    border-bottom-color: #4e4e50;
    border-width: 1px;
    border-style: solid;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;

    z-index: 1;
}

#navigation_bar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 150px;
    height: auto;
    cursor: pointer;
    size: fixed;
    position: relative;
    margin: 0;
}

#logolink {
    display: block;
    width: 150px;
    height: auto;
    margin: 15px;
    border-radius: 20%;
}

.navbar_links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.tabs {
    display: inline-block;
    color: #dcdcdc;
    font-size: 1.85em;
    margin-right: 2.5em;
    margin-left: 1em;
    cursor: pointer;
    list-style: none;
}

header .tabs:hover {
    color: white;
    text-decoration: solid;
    border-bottom: 3px transparent solid;
    margin-bottom: -3px;
}

header .tabs.selected {
    color: white;
    text-decoration: solid;
    border-bottom: 3px white solid;
    margin-bottom: -3px;
}

.isDisabled {
    color: currentColor;
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

@media screen and (max-width: 1360px) {
    .logo {
        width: 145px;
        height: auto;
    }
    
    #logolink {
        width: 145px;
        height: auto;
    }
    
    .tabs {
        font-size: 1.5em;
    }

    header .tabs:hover {
        color: white;
        text-decoration: solid;
        border-bottom: 2px transparent solid;
        margin-bottom: -2px;
    }

    header .tabs.selected {
        color: white;
        text-decoration: solid;
        border-bottom: 2px white solid;
        margin-bottom: -2px;
    }
}

@media screen and (max-width: 1160px) {
    .logo {
        width: 135px;
        height: auto;
    }
    
    #logolink {
        width: 135px;
        height: auto;
    }
    
    .tabs {
        font-size: 1.0em;
        margin-right: 5em;
    }

    header .tabs:hover {
        color: white;
        text-decoration: solid;
        border-bottom: 1px transparent solid;
        margin-bottom: -1px;
    }
    
    header .tabs.selected {
        color: white;
        text-decoration: solid;
        border-bottom: 1px white solid;
        margin-bottom: -1px;
    }
}

@media screen and (max-width: 1060px) {
    .logo {
        width: 125px;
        height: auto;
    }
    
    #logolink {
        width: 125px;
        height: auto;
    }
    
    .toggle-button {
        display: flex;
    }

    #navigation_bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_links {
        display: none;
        width: 100%;
    }

    .navbar_links ul {
        flex-direction: column;
        width: 100%;
    }

    .tabs {
        text-align: center;
        padding: 0.25em;
        margin: 0;
    }

    header .tabs:hover {
        color: white;
        text-decoration: solid;
        border-bottom: 1px transparent solid;
        margin-bottom: -1px;
    }
    
    header .tabs.selected {
        color: white;
        text-decoration: solid;
        border-bottom: 1px transparent solid;
        margin-bottom: -1px;
    }

    .tabs a {
        padding: 0.5rem 1rem;
    }

    .navbar_links.active {
        display: flex;
    }
}

footer {
    background-color: #1a1a1d;
    
    border-color: #1a1a1d;
    border-top-color: #4e4e50;
    border-width: 1px;
    border-style: solid;

    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;

    z-index: 1;
}

footer #footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em auto;
}

#footer .logo {
    display: block;
    width: 125px;
    height: auto;
    cursor: pointer;
    size: fixed;
    position: relative;
}

#footer #footer_logolink {
    display: block;
    width: 125px;
    height: auto;
    border-radius: 20%;
    margin-bottom: 2.5px;
    margin-left: auto;
    margin-right: auto;
}

hr.small-footer-line {
    border: 0.5px solid #4e4e50;
    border-radius: 50%;
    opacity: 0.75;
    margin: 0;
    margin-bottom: 0;
}

#footer .xstatic-info p {
    color: #dcdcdc;
    display: block;
    line-height: 1.5em;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer-tabs li {
    display: block;
    list-style: none;
    font-size: 16px;
    color: #dcdcdc;
    text-transform: uppercase;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: auto;
    margin-right: auto;
}

#footer .footer-tabs li:hover {
    color: white;
}

#footer .sponsors {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

#footer .sponsors .split {
    display: block;
    height: 75px;
    width: auto;
    margin: 10px auto;
}

#footer .sponsors .loop {
    display: block;
    height: 75px;
    width: auto;
    margin: 10px auto;
}

#footer .sponsors #loop_colors_logolink {
    display: block;
    border-radius: 25%;
    margin: 0;
    padding: 0;
}

#footer .small-device-footer-line {
    display: none;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social .social_logo {
    display: block;
    width: 30px;
    height: auto;
    padding: 0;
}

#social a {
    display: block;
    width: 30px;
    height: auto;
    padding: 0;
    margin: 1em;
    border-radius: 100%;

}

#copyright {
    color: #4e4e50;
    font-size: 75%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.25em;
}

hr.footer-line {
    border: 1px solid #4e4e50;
    border-radius: 50%;
    opacity: 0.75;
    width: 90%;
    
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1060px) {
    #footer .logo {
        width: 100px;
        height: auto;
    }

    #footer #footer_logolink {
        width: 100px;
        height: auto;
    }
    

    #footer .xstatic-info p {
        font-size: 90%;
    }

    #footer .footer-tabs li {
        font-size: 14px;
    }

    #footer .sponsors .split {
        height: 65px;
        width: auto;
    }
    
    #footer .sponsors .loop {
        height: 65px;
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    footer #footer {
        display: block;
        justify-content: space-around;
        align-items: center;
        margin: 0.5em auto;
    }

    #footer .xstatic-info {
        margin-left: 7.5em;
        margin-right: 7.5em;    
    }

    hr.small-footer-line {
        border: 0.25px solid #4e4e50;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }

    #footer .small-device-footer-line {
        display: flex;
        border: 1px solid #4e4e50;
        border-radius: 50%;
        opacity: 0.75;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 50%;
    }

    hr.footer-line {
        margin-top: 2em;
    }
}