.categories_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.categories {
    display: inline-block;
    color: #dcdcdc;
    text-shadow: -1px -1px 0 #000;
    font-size: 30px;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
}

.categories:hover {
    color: #fcb535;
}

.categories.selected {
    color: #ee9e1f;
}

main .window {
    margin-bottom: 2.5em;
}

main .categories_content_window {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 0;
}

.categories_content {
    display: none;
    justify-content: center;
    text-align: center;
}

.categories_content.selected {
    display: block;
    justify-content: center;
    text-align: center;
}

.slider {
    width: 60%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.slider_main_picture {
    height: auto;
    
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 1.5px;
}

.slider_thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.thumbnail {
    width: 20%;
    height: auto;
    cursor: pointer;

    margin: 1.5px;
    margin-bottom: 5px;
}

.thumbnail:hover {
    border-bottom: 2.5px solid #fcb535;
    margin-bottom: 2.5px;
}

.thumbnail.selected {
    border-bottom: 2.5px solid #ee9e1f;;
    margin-bottom: 2.5px;
}

.category_article {
    text-align: center;
}

.categories_content_window .category_article p {
    text-align: center;
}