#div-video-teaser {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#video-teaser {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    border: 2px solid #dcdcdc;
}

#aboutlink:link {
    color: #ef7e07;
}

#aboutlink:visited, #aboutlink:active {
    color: #e63718;
}

@media screen and (max-width: 1360px) {
    #div-video-teaser {
        margin: auto;
        margin-top: 1.75em;
        margin-bottom: 1.75em;
    }
}

@media screen and (max-width: 1160px) {
    #div-video-teaser {
        margin: auto;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 1060px) {
    #div-video-teaser {
        margin: auto;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
}

@media screen and (max-width: 640px) {
    #div-video-teaser {
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}